<section class="section-bg-v2" id="angebote">
  <p>Aktuelle Immobilienangebote</p>
  <button (click)="loadData()">Daten laden</button>
  <mat-progress-bar
    *ngIf="isLoading"
    mode="indeterminate"
    aria-label="Daten werden geladen"
    mode="determinate"
    value="{{ loadStatus }}"
  >
  </mat-progress-bar>

  <div class="immobilie-box">
    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Immobilienangebote Hilgert Immobilien"
    />
    <div class="immobilie-content">
      <p class="immobilie-ort">Viernheim</p>
      <p class="immobilie-beschreibung">Zwei Häuser mit Ausbaupotenzial</p>
      <p class="immobilie-id">Id: 12423</p>
    </div>
  </div>
</section>
