<section class="section-bg-v2">
  <h2 alt="Immobilienangebote, Kaufangebote, Verkauf">
    Aktuelle Immobilienangebote
  </h2>

  <!-- Ladecircle -->
  <div *ngIf="isLoading" class="spinner-wrapper">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>

  <div *ngIf="!this.immobilien.length">
    <p>
      Aktuell haben wir keine Immobilien im Angebot! Bitte besuchen Sie uns zu
      einem späteren Zeitpunkt erneut.
    </p>
  </div>

  <!-- Dynamischer Slider -->
  <div *ngIf="this.immobilien.length" class="slider-container">

    <div class="arrow-box arrow-not-responsive" (click)="prevPage()">
      <!-- SVG für Pfeil links -->
      <svg width="100" height="100" viewBox="0 0 100 100">
        <path
          d="M40 20 L20 50 L40 80"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M70 20 L50 50 L70 80"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>

    <div class="angebote-slider">
      <div
        class="angebote-grid"
        [style.transform]="'translateX(' + slidePosition + 'px)'"
      >
        <ng-container *ngFor="let immobilie of immobilien; let i = index">
          <mat-card (click)="openImmobilienDetails(immobilie)">
            <mat-card-header>
              <ng-container
                *ngIf="
                  getMediaForImmobilie(immobilie.externalId).length;
                  else loadingImage
                "
              >
                <img
                  [src]="getMediaForImmobilie(immobilie.externalId)[0].url"
                  [alt]="immobilie.title"
                />
              </ng-container>
              <ng-template #loadingImage>
                <div class="image-placeholder">
                  <mat-spinner diameter="30"></mat-spinner>
                </div>
              </ng-template>
            </mat-card-header>

            <mat-card-content>
              <p class="ort">{{ immobilie.postcode }} {{ immobilie.city }}</p>
              <mat-card-title>{{ immobilie.title }}</mat-card-title>
              <p class="objekt-id">Objekt-ID: {{ immobilie.externalId }}</p>
            </mat-card-content>

            <mat-card-footer>
              <div class="typ-icon">
                <svg viewBox="0 0 100 100">
                  <!-- Haus Umriss -->
                  <path d="M20,85 L20,45 L50,20 L80,45 L80,85 Z" />

                  <!-- Dach -->
                  <path d="M15,45 L50,15 L85,45" />

                  <!-- Tür -->
                  <rect x="42" y="60" width="16" height="25" />
                </svg>

                <p class="icon-text">{{ immobilie.propertyType }}</p>
              </div>

              <div class="wfl-icon">
                <svg viewBox="0 0 100 100">
                  <!-- Quadratischer Rahmen für die Wohnfläche -->
                  <rect x="15" y="10" width="70" height="70" />

                  <!-- Schraffierung im Quadrat -->
                  <pattern
                    id="diagonalHatch"
                    patternUnits="userSpaceOnUse"
                    width="8"
                    height="8"
                  >
                    <path
                      d="M-2,2 l4,-4
                                M0,8 l8,-8
                                M6,10 l4,-4"
                    />
                  </pattern>

                  <rect
                    x="15"
                    y="10"
                    width="70"
                    height="70"
                    fill="url(#diagonalHatch)"
                  />

                  <!-- Quadratmeter-Symbol -->
                  <text x="40" y="100">m²</text>
                </svg>
                <p class="icon-text">{{ immobilie.livingSpace }} m²</p>
              </div>

              <div class="zimmer-icon">
                <svg viewBox="0 0 110 110">
                  <!-- Großer Raum/Wohnzimmer -->
                  <rect x="15" y="15" width="45" height="40" />

                  <!-- Kleiner Raum/Schlafzimmer rechts -->
                  <rect x="65" y="15" width="20" height="40" />

                  <!-- Kleiner Raum/Bad unten -->
                  <rect x="15" y="60" width="20" height="25" />

                  <!-- Kleiner Raum/Küche unten rechts -->
                  <rect x="40" y="60" width="45" height="25" />

                  <!-- Türöffnungen andeuten -->
                  <path d="M45,55 L45,60" />
                  <path d="M65,40 L70,40" />
                  <path d="M35,60 L35,55" />
                  <path d="M55,60 L55,55" />

                  <!-- Text "Zimmer" unten -->
                  <text x="20" y="110">Zimmer</text>
                </svg>
                <p class="icon-text">{{ immobilie.numberOfRooms }}</p>
              </div>
              

              <div class="preis-icon">
                <svg viewBox="0 0 100 100">
                  <!-- Euro-Symbol -->
                  <path
                    d="M65,35 C60,27 52,23 44,23 C30,23 20,33 20,50 C20,67 30,77 44,77 C52,77 60,73 65,65"
                  />

                  <!-- Horizontale Striche -->
                  <path d="M20,45 L55,45" />
                  <path d="M20,55 L55,55" />
                </svg>

                <p class="icon-text">
                  {{ immobilie.value | number : "1.0-0" }}
                </p>
              </div>
            </mat-card-footer>
          </mat-card>
        </ng-container>
      </div>
    </div>

    <div class="arrow-responsive"> 

    <div class="arrow-box" (click)="prevPage()">
      <!-- SVG für Pfeil links -->
      <svg width="100" height="100" viewBox="0 0 100 100">
        <path
          d="M40 20 L20 50 L40 80"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M70 20 L50 50 L70 80"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>

    <div class="arrow-box" (click)="nextPage()">
      <!-- SVG für Pfeil rechts -->
      <svg width="100" height="100" viewBox="0 0 100 100">
        <path
          d="M60 20 L80 50 L60 80"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M30 20 L50 50 L30 80"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>

  </div>
    
    <div class="arrow-box arrow-not-responsive" (click)="nextPage()">
      <!-- SVG für Pfeil rechts -->
      <svg width="100" height="100" viewBox="0 0 100 100">
        <path
          d="M60 20 L80 50 L60 80"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M30 20 L50 50 L30 80"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>

  </div>

  <div *ngIf="this.immobilien.length" class="link-weitere-angebote">
    <a routerLink="immobilien">Weitere Immobilienangebote anzeigen</a>
  </div>
</section>
