@use "./../../../styles.scss" as s;
@use "./../../../assets/fonts.scss" as f;
@use "./../../../assets/colors.scss" as c;

section {
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

.intro-text-content {
    @include s.f_c_c_c;
    gap: 24px;
    text-align: center;
    padding: 0px 124px;
}

.action-btn-row {
    @include s.f_c_c_c;
    padding-top: 64px;
}