<section class="section-bg-v1">
    <div class="intro-text-content">
      <h2 alt="Bester Immobilienverkauf, Immobilienmakler mit Erfahrung im Verkauf von Immobilien">Immobilienvermittlung seit über 30 Jahren</h2>
        <p>
            Wir sind ein familiengeführter Maklerbetrieb, der seit 1993 zu den
            erfahrensten Maklern in Viernheim/Mannheim und Umgebung zählt. Mit einer Vielzahl erfolgreicher
            Abschlüsse in der Metropolregion Rhein-Neckar verfügen wir über eine umfassende
            Expertise im Immobilienbereich.
          </p>
          <div class="vertical-line" appScrollAnimation></div>
          <h2 alt="Immobilienverkauf zum Bestpreis - Beste Kundenzufriedenheit">Mit uns als starker Partner für Ihren Verkauf!</h2>
          <p>
            Gerne stehen wir Ihnen bei der Veräußerung Ihrer Immobilie bestmöglich zur Seite und begleiten Sie mit
            fundiertem Fachwissen durch den gesamten Verkaufsprozess. Wir legen Wert auf
            eine enge persönliche Kundenbetreuung und entwickeln maßgeschneiderte Lösungen,
            die über das übliche Maß hinausgehen. Ihre Zufriedenheit hat für uns höchste
            Priorität.
          </p>
    </div>
    <div class="action-btn-row">
      <a class="navbar-link standard-btn" href="#kontakt" alt="Hilgert Immobilien - Verkaufsberatung">Unverbindlich Anfragen</a>
    </div>

</section>
