<section>

<div class="widerruf-container">
    <h2>Widerrufsbelehrung</h2>
    <p class="version">Version 1.1</p>
  
    <div class="widerruf-section">
      <h2>Allgemeines zum Widerrufsrecht</h2>
      <p>
        Ab dem 13.06.2014 gilt das neue Widerrufsrecht für Fernabsatzverträge. Demnach ist jeder „außerhalb von Geschäftsräumen“ geschlossene Vertrag belehrungspflichtig und widerrufbar. 
        Maklerverträge, die außerhalb der Geschäftsräume geschlossen werden, z. B. im Internet, per E-Mail, Telefon, Fax oder Brief, unterliegen somit ebenfalls dem Widerrufsrecht.
      </p>
      <p>
        Ein Maklervertrag kommt mit Hilgert Immobilien bereits durch die Äußerung Ihres Interesses an einer angebotenen Immobilie zustande, beispielsweise durch das Anfordern eines Exposés.
        Eine Zahlungsverpflichtung entsteht jedoch erst mit Abschluss des notariellen Kaufvertrags (ausgenommen etwaige Schadensersatzansprüche bei Vertragsbruch).
      </p>
    </div>
  
    <div class="widerruf-section">
      <h2>Ihr Widerrufsrecht</h2>
      <p>
        Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Maklervertrag zu widerrufen.
        Die Frist beträgt vierzehn Tage ab dem Tag des Vertragsschlusses.
      </p>
      <p>
        Um Ihr Widerrufsrecht auszuüben, müssen Sie uns eine eindeutige Erklärung (z. B. per Post oder E-Mail) zukommen lassen, aus der Ihr Entschluss zum Widerruf hervorgeht. 
        Bitte nennen Sie dabei folgende Angaben: Ihr Name bzw. Firmenname, Anschrift, ggf. Telefonnummer sowie E-Mail-Adresse.
      </p>
    </div>
  
    <div class="widerruf-section">
      <h2>Folgen des Widerrufs</h2>
      <p>
        Wenn Sie den Vertrag widerrufen, erstatten wir alle Zahlungen, die wir von Ihnen erhalten haben, unverzüglich und spätestens binnen vierzehn Tagen nach Eingang Ihres Widerrufs. 
        Für die Rückzahlung verwenden wir dasselbe Zahlungsmittel, das bei der ursprünglichen Transaktion eingesetzt wurde – es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart.
      </p>
      <p>
        Haben Sie verlangt, dass wir bereits während der Widerrufsfrist mit der Dienstleistung beginnen, so ist ein angemessener Betrag zu zahlen, der dem Umfang der bis zum Widerruf erbrachten Leistungen entspricht.
      </p>
    </div>
  
    <div class="widerruf-section">
      <h2>Hinweis zum vorzeitigen Erlöschen des Widerrufsrechts</h2>
      <p>
        Ihr Widerrufsrecht erlischt vorzeitig, wenn wir die Dienstleistung vollständig erbracht haben und mit der Ausführung erst begonnen haben, nachdem Sie ausdrücklich zugestimmt haben,
        dass Ihr Widerrufsrecht bei vollständiger Vertragserfüllung erlischt.
      </p>
    </div>
  
    <p class="widerruf-footer"><em>Ende der Widerrufsbelehrung</em></p>
  
    <div class="button-wrapper">
      <button class="standard-btn" (click)="close()">Zurück</button>

    </div>
  </div>
  
</section>