@use "./../../styles.scss" as s;
@use "./../../assets/fonts.scss" as f;
@use "./../../assets/colors.scss" as c;

section {
    @include s.f_c_fs_fs;
    gap:48px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    margin-top:140px; // weil hero ausgeblendet wird
}
