@use "./../../../styles.scss" as s;
@use "./../../../assets/fonts.scss" as f;
@use "./../../../assets/colors.scss" as c;
@use "./../../../assets/elements.scss" as e;

// ggf. auslagern
.row-style {
  @include s.f_r_sb_fs;
  gap: 4px;
  width: 100%;
  box-sizing: border-box
}

/// default settings

/// hide if no print
.print-only {
  display: none;
}

.hide-for-print {
  display: none !important;
}

.divider-line {
  margin: 24px 0;
  height: 2px;
  width: 100%;
  background-color: c.$primary-color;
}

h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 1.3rem;
  color: c.$primary-color;
}

.spacer-m {
  padding-bottom: 12px;
}

.no-link {
  text-decoration: none;
  color: c.$primary-color;

  :hover {
    color: c.$primary-color;
  }
}

.detail-row {
  @include s.f_r_sb_fs;
  width: 100%;
  box-sizing: border-box;
}


section {
  @include s.f_c_fs_c;
  gap: 12px;
  height: auto;
  min-height: 500px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin: 0px;
  margin-top: 140px; // weil hero ausgeblendet wirdfincanel-expert-contact
  padding: 80px 5%;
  background-color: c.$section-bg-v3;

  @media print {
    margin-top: -20px;
    padding: 0;
    background-color: unset;
    min-height: 100%;
    box-sizing: border-box;
  }
}

.option-btns-div {
  @include s.f_r_c_fs;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}

.wrapper {
  @include s.f_c_fs_fs;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0;
  background-color: c.$section-bg-v2;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.5);

  // @media print {
  //   width: 100%;
  //   max-width: 100%;
  // }
}

.content-wrapper {
  @include s.f_c_fs_fs;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

/////// DOC HEADLINE
.doc-headline {
  @include s.f_r_sb_c;
  padding: 24px 24px;
  padding-bottom: 42px;
  width: 100%;
  box-sizing: border-box;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
}

/////// DOC SUBLINE
// .doc-subline {
//   padding: 24px 24px;
// }


/////// IMG SECTION
.img-box {
  position: relative;
  @include s.f_c_fs_c;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  overflow: hidden;

  @media print {
    height: 400px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    // object-position: center 60%;
  }
}

//   .img-box {
//   @include s.f_r_sb_fs;
//   flex-wrap: wrap;
// }

// .img-box img {
//   max-width: 48%;
//   height: auto;
//   border-radius: 4px;
// }


/////// info box header
.main-info-box {
  position: absolute;
  bottom: 0;
  right: 24px;
  height: auto;
  width: 300px;
  border-radius: 0px;
  background-color: white;

  @media print {
    bottom: -30px;
    right: 42px;
  }

  .main-info-box-content {
    padding: 16px 24px;
    padding-bottom: 28px;

    // @media print {
    //   padding-bottom: 48px;
    // }
  }
}

/////// title section
.title-section {
  background-color: c.$primary-color;
  margin: 0;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;

  // @media print {
  //   width: 70%;
  // }

  .title-row {
    color: white;
    font-size: 1.5rem;
    letter-spacing: unset;
    line-height: 2rem;
    padding-bottom: 0px;

    // @media print {
    //   >.title {
    //     color: white;
    //     font-size: 1.1rem;
    //     letter-spacing: unset;
    //     line-height: unset;
    //     padding-bottom: 0px;
    //   }
    // }
  }
}

/////// basic infos
.basic-info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
  width: 100%;
  box-sizing: border-box;
  padding: 48px 24px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding: 48px 10%;

    .detail-row {
      display: flex;
      justify-content: space-between;
      gap: 12px;
    }
  }

  // @media print {
  //   width: 70%;
  // }

  .basic-info,
  .basic-payments-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
  }
}

/////// double divider lines
.double-divider-line {
  margin: 4px 0;
  height: 2px;
  width: 100%;
  background-color: c.$primary-color;
}

/// advertise-new-customer
.advertise-new-customer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  width: 100%;
  padding: 24px;
  padding-bottom: 64px;
  box-sizing: border-box;
  align-items: stretch;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 24px 10%;
  }

  @media print {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0 20%;
  }

  .advertise_img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    box-sizing: border-box;

    @media print {
      height: 350px;
    }
  }

  .adBox-new-owner,
  .adBox-earning {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    padding: 16px;
    border: 2px solid c.$primary-color;
    width: 100%;
    min-height: 300px;
    max-height: 100%;
    object-fit: cover;
    box-sizing: border-box;

    @media print {
      min-height: 250px;
    }

    .adBox-container {
      @include s.f_c_sa_fs;
      gap: 24px;
    }

    h3 {
      font-size: 1.3rem;
      margin-bottom: 8px;
      color: c.$primary-color;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    a {
      margin-top: auto;
    }

    // @media print {
    //   padding: 12px;

    //   h3 {
    //     font-size: 1.1rem;
    //     line-height: 1.2rem;
    //   }

    //   p {
    //     font-size: 0.95rem;
    //     line-height: 1.3rem;
    //   }
    // }
  }

  .adBox-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
}

/// morge property informations
.more-property-infos-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 24px;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding: 48px 10%;
  }

  // @media print {
  //   width: 70%;
  //   padding: 24px;
  // }

  h3 {
    margin: 0;
  }

  .more-property-infos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 120px;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
    }

    .more-infos-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      box-sizing: border-box;

      // @media print {
      //   width: 100%;
      // }

      .detail-row {
        display: flex;
        justify-content: space-between;
        gap: 12px;

        p {
          margin: 0;
          font-size: 0.95rem;
        }

        p:first-child {
          font-weight: 600;
          min-width: 40%;
        }

        p:last-child {
          text-align: right;
          flex: 1;
        }
      }
    }

    .property-video-section {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
      box-sizing: border-box;

      .video-box {
        width: 100%;
        max-width: 100%;

        video {
          width: 100%;
          height: auto;
          max-height: 500px;
          border-radius: 6px;
        }
      }

      @media screen and (max-width: 1024px) {
        align-items: flex-end;
        margin-top: 24px;

        .video-box {
          video {
            max-height: 500px;
          }
        }
      }
    }
  }
}

/// ALTERNATIVE TITLE IMAGE SECTION
.alt-title-img-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: c.$primary-color;
  align-items: start;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    gap: 0;
  }

  // @media print {
  //   width: 70%;
  //   gap: 24px;
  // }

  .alt-title-img {
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
    display: block;
  }

  .short-discription-box {
    @include s.f_r_c_c;
    height: 100%;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;

    @media screen and (max-width: 1024px) {
      padding: 5%;
    }

    .short-textarea {
      @include s.f_r_c_c;
      text-align: justify;
      gap: 12px;
      letter-spacing: 1px;
      font-size: 1rem;
      line-height: 28px;
      width: 100%;
      box-sizing: border-box;
      color: c.$expose-short-discription-text;

      // @media print {
      //   letter-spacing: 0;
      //   line-height: 20px;
      // }
    }
  }
}

/// property-discriptions-and-sidebar-wrapper
.property-discriptions-and-sidebar-wrapper {
  display: grid;
  grid-template-columns: 2.5fr 2fr;
  gap: 120px;
  padding: 48px 24px;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    padding: 48px 10%;
    gap: 64px;
  }


  /// property discriptions wrapper
  .property-discriptions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;

    .property-discriptions-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      box-sizing: border-box;

      .note-textarea {
        display: flex;
        flex-direction: column;
        text-align: justify;
        gap: 12px;
        width: 100%;
        box-sizing: border-box;
      }

      .notes-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }

  /// sidebar
  .sidebar-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    min-width: 0;
    box-sizing: border-box;

    /// energyrating diagramm
    .energiewert-wrapper {
      @include s.f_c_c_fs;
      gap: 8px;
      width: 100%;
      box-sizing: border-box;

      app-energieklasse-diagramm {
        width: 100%;
        box-sizing: border-box;

        // @media print {
        //   -webkit-print-color-adjust: exact !important;
        //   print-color-adjust: exact !important;
        // }
      }
    }

    /// financing example
    .financing-example {
      @include s.f_c_fs_fs;
      gap: 14px;
      width: 100%;
      box-sizing: border-box;

      h3 {
        margin: 0;
        width: 100%;
        word-wrap: break-word;
        padding: 0 4px;
      }

      // @media print {
      //   h3 {
      //     word-break: break-word;
      //     font-size: 1.2rem;
      //     letter-spacing: 1px;
      //   }
      // }

      .financing-example-note {
        @include s.f_c_fs_fs;
        gap: 12px;
        width: 100%;
        box-sizing: border-box;

        .fincanel-expert-contact {
          @include s.f_c_fs_fs;
          gap: 4px;
          width: 100%;
          box-sizing: border-box;
        }

      }

      .condition-box {
        @include s.f_c_fs_fs;
        gap: 4px;
        width: 100%;
        box-sizing: border-box;

      }

      .line-row {
        @include s.f_r_sb_fs;
        width: 100%;
        box-sizing: border-box;
      }

      .costs-overview-wrapper {
        @include s.f_c_fs_fs;
        gap: 12px;
        width: 100%;
        box-sizing: border-box;

        .costs-overview-box {
          @include s.f_c_fs_fs;
          gap: 4px;
          width: 100%;
          box-sizing: border-box;
        }
      }

      .credit-box {
        @include s.f_c_fs_fs;
        gap: 4px;
        width: 100%;
        box-sizing: border-box;
      }
    }

    /// img viewing
    .image-viewing-box {
      @include s.f_c_c_fs;
      gap: 8px;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      object-fit: cover;

      // @media print {
      //   width: 70%;
      //   padding: 0;
      // }

      img {
        width: 100%;
        height: auto;
      }

    }


    /// adBox
    .adBox-feedback {
      @include s.f_c_c_fs;
      gap: 8px;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid c.$primary-color;
      padding: 12px;
      padding-top: 0px;
      padding-bottom: 28px;
    }
  }
}

/// property floor plans
.floor-plans-section {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 120px;
  padding: 48px 24px;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    display: none;
  }

  .floor-plans-slider {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    box-sizing: border-box;

    .floorplan-viewer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;

      img {
        width: 80%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
      }

      .nav-button {
        font-size: 1rem;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 8px;
        user-select: none;
        transition: color 0.2s ease;

        span {
          font-size: 3rem;
        }

        &.left {
          order: -1;
        }

        &:hover {
          color: c.$primary-color;
        }

        &:disabled {
          opacity: 0.3;
          cursor: default;
        }
      }
    }

    .floorplan-counter {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      box-sizing: border-box;

      p {
        font-size: 0.9rem;
        color: #666;
        margin: 0;
      }
    }
  }

  .sidebar-floor-plans-selection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    box-sizing: border-box;

    @media screen and (max-width: 1024px) {
      padding: 0px 10%;
      margin: 0 auto;
      width: 70%;
      display: none;
    }

    .floorplan-thumb {
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 6px;
      overflow: hidden;
      transition: border 0.2s ease;

      img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        display: block;
        border-radius: 4px;
      }

      &.active,
      &:hover {
        border: 2px solid c.$primary-color;
      }
    }
  }
}

/// property floor plans print version
.floor-plans-print {
  page-break-before: always;
  padding: 24px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    display: block;
    padding: 24px 10%;
  }

  @media print {
    display: block;
    padding: 24px 10%;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .floorplan-print-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;


    img {
      width: 90%;
      height: auto;
      margin: 0 auto;
      box-sizing: border-box;
      page-break-inside: avoid;
      border: 1px solid #ccc;
      padding: 4px;
    }
  }
}

/// photo gallery
.images-gallery {
  @include s.f_c_fs_fs;
  gap: 16px;
  padding: 24px;

  // @media print {
  //   width: 70%;

  //   h3 {
  //     margin: 0;
  //   }
  // }

  .masonry-gallery {
    column-count: 3;
    column-gap: 12px;

    @media screen and (max-width: 1024px) {
      column-count: 2;
    }

    @media screen and (max-width: 600px) {
      column-count: 1;
    }
  }

  .masonry-item {
    break-inside: avoid;
    margin-bottom: 12px;

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 6px;
      max-width: 100%;
      max-height: 400px;
      object-fit: cover;
    }
  }

  img.thumbnail {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.01);
    }
  }
}

/// interest text
.interest-text-section {
  @include s.f_c_fs_fs;
  gap: 8px;
  padding: 24px;
  text-align: justify;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    padding: 24px 10%;
  }

}

/// interest text
.disclaimer-text-section {
  @include s.f_c_fs_fs;
  gap: 8px;
  padding: 24px;
  text-align: justify;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    padding: 24px 10%;
  }
}

/// last update section
.last-update-section {
  @include s.f_c_fs_fs;
  gap: 8px;
  padding: 24px;
  text-align: justify;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    padding: 24px 10%;
  }
}

/// contact person section
.contact-person-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 48px 24px;
  width: 100%;
  box-sizing: border-box;


  @media print {
    padding-bottom: 3000px;
  }


  @media screen and (max-width: 1024px) {
    padding: 48px 10%;
  }

  h3 {
    margin: 0;
  }

  .contact-person-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      text-decoration: none;
      color: c.$primary-text;
      transition: color 0.3s ease;

      &:hover {
        color: c.$primary-color;
      }

      mat-icon {
        color: c.$primary-color;
        font-size: 24px;
        width: 24px;
        height: 24px;
      }
    }

    .contact-wrapper {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 24px;
      width: 100%;
      box-sizing: border-box;
      align-items: start;

      @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
      }

      .person-wrapper {
        display: flex;
        flex-direction: row;
        gap: 24px;
        width: 100%;
        box-sizing: border-box;

        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        img {
          width: 200px;
          height: auto;
        }

        .contact-slogan {
          font-size: 14px !important;
          font-style: italic;
        }

        .content-col {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
      }

      .contact-person-container-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 24px;
        width: 100%;
        box-sizing: border-box;
        grid-column: span 2;
        padding-left: 40%;

        @media screen and (max-width: 1024px) {
          flex-direction: column;
          align-items: center;
          grid-column: span 1;
          padding-left: 0;
        }

        .contactform-link {

          @media screen and (max-width: 1024px) {
            width: 100%;
          }

          .standard-btn-reverse {
            margin-top: 8px;
            justify-content: center;
          }
        }

        .v-card-box {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          justify-content: flex-end;
          gap: 8px;

          @media screen and (max-width: 1024px) {
            flex-direction: column-reverse;
            align-items: center;
          }

          img {
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }
}


.scroll-to-top {
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/// PRINT SETTINGS
@media print {

  * {
    print-color-adjust: exact; // Standard-Syntax
    -webkit-print-color-adjust: exact; // für Chrome / Safari
  }

  .print-only {
    display: block !important;
  }

  // section,
  // .property-discriptions-wrapper,
  // .images-gallery,
  // .floor-plans-print,
  // .contact-person-section {
  //   page-break-inside: avoid;
  //   page-break-after: always;
  // }

  // img {
  //   page-break-inside: avoid;
  // }
}


// .img-box {
//   width: 100%;
//   height: auto !important;
//   overflow: visible !important;

//   img {
//     width: 100%;
//     height: auto !important;
//     object-fit: contain !important;
//   }
// }





// .details-dialog {
//   box-shadow: none;
//   margin: 0;
//   padding: 0;
//   width: 100%;
// }

//   .disclaimer-note-red {
//     padding: 4px 0px;
// }

// .expose-version-note {
//   @include s.f_c_fs_fs;
// }

// .energy-rating-type {
//     @include s.f_r_fs_fs;
//     gap: 12px;
// }


///////////// RESPONSIVE DESIGN

// // Standard Desktop bis 1439px
// @media screen and (max-width: 1439px) {

//   .details-dialog {
//     padding: 24px 64px !important;
//   }

//   .dialog-content {
//     width: 100% !important;
//     padding: 0;
//   }

//   .basic-info-wrapper {
//     flex-direction: column !important;
//     width: 100% !important;
//   }

//   .basic-info {
//     width: 100% !important;
//   }

//   .basic-payments-info {
//     width: 100% !important;
//     gap: 4px;
//   }

//   .more-info-wrapper {
//     flex-direction: column !important;
//     width: 100% !important;
//     gap: 16px;
//   }

//   .more-infos {
//     width: 100% !important;
//   }

//   .energiewert-wrapper {
//     width: 100% !important;
//   }

//   .energieklasse-container {
//     width: 100% !important;
//   }

//   app-energieklasse-diagramm {
//     width: 100% !important;
//   }

//   .disclaimer-diagramm {
//     width: 100% !important;
//   }

//   .notes-wrapper {
//     width: 100% !important;
//   }

// }

// /* Tablets quer & Desktop kleiner als 1200px */
// @media screen and (max-width: 1200px) {

//   .basic-info-wrapper,
//   .more-property-infos-wrapper,
//   .property-discriptions-and-sidebar-wrapper {
//     flex-direction: column !important;
//     width: 100%;
//     padding: 24px 16px;
//   }

//   .basic-info,
//   .basic-payments-info,
//   .more-infos-container,
//   .property-discriptions-wrapper,
//   .sidebar-content-wrapper {
//     width: 100% !important;
//   }

//   .advertise-new-customer {
//     flex-direction: column;
//     align-items: center;
//     padding: 16px;
//   }

//   .advertise_img {
//     width: 100%;
//     height: auto;
//     margin-left: 0;
//   }

//   .adBox-new-owner,
//   .adBox-earning {
//     width: 100%;
//     height: auto;
//     padding: 16px;
//   }
// }

// /* Tablets hoch / mittelgroße Smartphones */
// @media screen and (max-width: 768px) {
//   .doc-headline h2 {
//     font-size: 1.2rem;
//   }

//   .title-section .title-row {
//     font-size: 1.2rem;
//     text-align: center;
//   }

//   .img-box {
//     height: auto;
//     max-height: 300px;
//   }

//   .floor-plans-section {
//     flex-direction: column;
//     padding: 24px 12px;
//   }

//   .floor-plans-slider,
//   .sidebar-floor-plans-selection {
//     width: 100%;
//   }

//   .property-discriptions-and-sidebar-wrapper {
//     gap: 24px;
//   }
// }

// /* Smartphones bis 576px */
// @media screen and (max-width: 576px) {
//   section {
//     padding: 40px 8px;
//     margin-top: 60px;
//   }

//   .basic-info-wrapper,
//   .more-property-infos-wrapper,
//   .property-discriptions-and-sidebar-wrapper {
//     padding: 16px 8px;
//     gap: 16px;
//   }

//   .img-box {
//     height: auto;
//   }

//   .main-info-box {
//     position: static;
//     width: 100%;
//     margin: 12px 0;
//   }

//   .advertise_img {
//     width: 100%;
//     height: auto;
//   }

//   .adBox-new-owner,
//   .adBox-earning {
//     width: 100%;
//     height: auto;
//   }

//   .images-gallery .masonry-gallery {
//     column-count: 1;
//   }

//   .contact-person-section {
//     padding: 24px 8px;
//   }

//   .contact-person-section img {
//     width: 140px;
//   }
// }

// /* Smartphones hochkant (z. B. iPhone 12, ~390–430px) */
// @media screen and (max-width: 430px) {
//   section {
//     padding: 24px 8px;
//     margin-top: 60px;
//   }

//   .doc-headline h2 {
//     font-size: 1.1rem;
//     text-align: center;
//   }

//   .title-section .title-row {
//     font-size: 1rem;
//     text-align: center;
//     padding: 8px 0;
//   }

//   .img-box {
//     height: auto;
//     max-height: 250px;

//     img {
//       object-fit: cover;
//       width: 100%;
//       height: auto;
//     }
//   }

//   .main-info-box {
//     position: static;
//     width: 100%;
//     margin-top: 12px;

//     .main-info-box-content {
//       padding: 12px;
//     }
//   }

//   .basic-info-wrapper,
//   .more-property-infos-wrapper,
//   .property-discriptions-and-sidebar-wrapper {
//     padding: 16px 8px;
//     flex-direction: column;
//     gap: 16px;
//   }

//   .basic-info,
//   .basic-payments-info,
//   .more-infos-container,
//   .property-discriptions-wrapper,
//   .sidebar-content-wrapper {
//     width: 100%;
//   }

//   .floor-plans-section,
//   .images-gallery {
//     padding: 16px 8px;
//   }

//   .floor-plans-slider,
//   .sidebar-floor-plans-selection {
//     width: 100%;
//   }

//   .floorplan-thumb img {
//     max-height: 180px;
//   }

//   .advertise-new-customer {
//     flex-direction: column;
//     padding: 16px 8px;

//     .advertise_img,
//     .adBox-new-owner,
//     .adBox-earning {
//       width: 100%;
//       height: auto;
//     }
//   }

//   .contact-person-section {
//     padding: 24px 8px;

//     .person-wrapper {
//       flex-direction: column;
//       align-items: center;
//       gap: 16px;

//       img {
//         width: 140px;
//       }

//       .content-col {
//         align-items: center;
//         text-align: center;
//       }
//     }

//     .v-card-box {
//       justify-content: center;

//       img {
//         width: 120px;
//         height: 120px;
//       }
//     }
//   }

//   .scroll-to-top {
//     bottom: 16px;
//     right: 16px;
//     width: 48px;
//     height: 48px;

//     mat-icon {
//       font-size: 24px;
//     }
//   }

//   .images-gallery .masonry-gallery {
//     column-count: 1;
//     column-gap: 8px;
//   }

//   h3 {
//     font-size: 1.1rem;
//     padding: 0 4px;
//     text-align: center;
//   }

//   p {
//     font-size: 0.95rem;
//     line-height: 1.4rem;
//   }
// }