<!-- 
  // Erweiterungen Ideen
// Karte auf google maps 
// parkmöglichkeiten

 -->

<section>
  <div class="option-btns-div no-print">
    <button
      *ngIf="accessIsExtended"
      mat-raised-button
      class="expose-option-btn"
      (click)="openDocs()"
    >
      Weitere Unterlagen
    </button>

    <button
    *ngIf="!accessIsShort"
    mat-raised-button
    class="expose-option-btn"
    (click)="openAppointments()"
  >
    Termine
  </button>

    <button mat-raised-button class="expose-option-btn" (click)="printPage()">
      Drucken
    </button>
    <!-- <button
      mat-raised-button
      class="expose-option-btn"
      (click)="downloadAsPDF()"
    >
      Speichern
    </button> -->
  </div>

  <div class="wrapper" id="printContent">
    <ng-container *ngIf="immobilie; else loading">
      <div class="content-wrapper">
        <!-- //// DOC HEADLINE -->
        <div class="doc-headline">
          <h2>
            <strong
              >{{
                exposeLevel === "normal"
                  ? "Erweitertes Exposé"
                  : exposeLevel === "gekürzt"
                  ? "Kurzvorschau"
                  : exposeLevel === "erweitert"
                  ? "Exklusives Exposé"
                  : ""
              }}
              FÜR
              <!-- {{ customerSalutation || "" }} -->
              {{ customerFirstName || "" }}
              {{ customerLastName || "" }}
            </strong>
          </h2>
        </div>

        <!-- <div class="doc-subline">
          <div class="expose-version-note">
            <p *ngIf="!accessIsExtended">
              Diese Exposé ist limitiert. Im Laufe des weiteren Verfahrens,
              erhalten Sie von uns Zugriffsrechte zu weiteren Informationen und
              Fotos
            </p>
          </div>
        </div> -->

        <!-- //// IMG SECTION -->
        <div class="img-box" *ngIf="media?.length">
          <img
            *ngIf="getPrimaryTitleImage()"
            [src]="getPrimaryTitleImage()?.url"
            [alt]="immobilie.title + ' - Titelbild'"
            (contextmenu)="disableContextMenu($event)"
          />

          <!-- second title image  -->

          <!-- <img
              *ngIf="getAltTitleImage()"
              [src]="getAltTitleImage()?.url"
              [alt]="immobilie.title + ' - Zweites Titelbild'"
              (contextmenu)="disableContextMenu($event)"
            /> -->

          <!-- //// GENERAL INFORMATIONS -->

          <div class="main-info-box">
            <div class="main-info-box-content">
              <div class="row-style">
                <p><strong>Objekt-ID:</strong></p>
                <p>{{ immobilie.externalId }}</p>
              </div>
              <div class="row-style">
                <p><strong>Kategorie:</strong></p>
                <p>Kauf</p>
              </div>
              <div class="row-style">
                <p><strong>Objekttyp:</strong></p>
                <p>{{ immobilie.propertyType }}</p>
              </div>
              <!-- <div class="row-style" *ngIf="immobilie.plotArea">
                <p><strong>Grundstück:</strong></p>
                <p>{{ immobilie.plotArea }} m²</p>
              </div>
              <div class="row-style">
                <p><strong>Wohnfläche:</strong></p>
                <p>{{ immobilie.livingSpace }} m²</p>
              </div>
              <div class="row-style">
                <p><strong>Anzahl Zimmer:</strong></p>
                <p>{{ immobilie.numberOfRooms }}</p>
              </div> -->
              <div class="row-style">
                <p><strong>Kaufpreis:</strong></p>
                <p>{{ immobilie.value | number : "1.0-0" }} €</p>
              </div>
            </div>
          </div>
        </div>

        <!-- //// TITLE SECTION -->
        <div class="title-section">
          <div class="title-row">
            <p class="title">
              <strong>{{ immobilie.title }}</strong>
            </p>
          </div>
        </div>

        <!-- <div class="double-divider-line no-print"></div>
        <div class="double-divider-line no-print"></div> -->

        <!-- /////////// general infos about property for all types of properties  -->
        <div class="basic-info-wrapper">
          <div class="basic-info">
            <!-- <div class="detail-row">
              <p><strong>Objekt-ID:</strong></p>
              <p>{{ immobilie.externalId }}</p>
            </div> -->
            <div class="detail-row">
              <p><strong>Kategorie:</strong></p>
              <p>Kauf</p>
            </div>
            <div class="detail-row">
              <p><strong>Objekttyp:</strong></p>
              <p>{{ immobilie.propertyType }}</p>
            </div>
            <div class="detail-row">
              <p><strong>Anzahl Zimmer:</strong></p>
              <p>{{ immobilie.numberOfRooms }}</p>
            </div>
            <div class="detail-row">
              <p><strong>Wohnfläche:</strong></p>
              <p>{{ immobilie.livingSpace }} m²</p>
            </div>
            <div class="spacer-m"></div>
            <div class="detail-row">
              <p><strong>Kaufpreis:</strong></p>
              <p>{{ immobilie.value | number : "1.0-0" }} €</p>
            </div>
          </div>

          <div class="basic-payments-info">
            <div class="detail-row">
              <p><strong>Ort:</strong></p>
              <p>{{ immobilie.postcode }} {{ immobilie.city }}</p>
            </div>
            <div *ngIf="!accessIsShort" class="detail-row">
              <p><strong>Straße/Hr.:</strong></p>
              <p>{{ immobilie.street }} {{ immobilie.houseNumber }}</p>
            </div>
            <div *ngIf="!accessIsShort" class="detail-row">
              <p class="disclaimer-note-red">
                Bitte betreten Sie das Grundstück nicht vor unserem
                Besichtigungstermin!
              </p>
            </div>
            <div class="detail-row">
              <p>
                <strong>Provision:</strong><br />
                {{ immobilie.courtage }}
              </p>
            </div>
            <div class="detail-row">
              <p>
                <strong>Provisionshinweis:</strong><br />{{
                  immobilie.courtageNote
                }}
              </p>
            </div>
          </div>
        </div>

        <div class="double-divider-line no-print"></div>
        <div class="double-divider-line no-print"></div>

        <!-- /////////// advertisment for new customers  -->
        <div class="advertise-new-customer page-break">
          <img
            class="advertise_img"
            src="/img/services/ZG_Foto.jpg"
            alt="Werbung Eigentümer"
            (contextmenu)="disableContextMenu($event)"
          />

          <div class="adBox-new-owner">
            <div class="adBox-container">
              <h3>Sie überlegen zu verkaufen?</h3>
              <p>
                Sie möchten wissen, was Ihre Immobilie wert ist? Gerne erstellen
                wir für Sie eine kostenfreie und unverbindliche Bewertung. Einen
                Maklervertrag unterschreiben Sie bei uns erst, wenn Sie sich
                bereit dafür fühlen.
              </p>
              <a
                class="no-link standard-btn-reverse width-100"
                href="/kontakt"
                target="_blank"
              >
                Zum Kontaktformular
              </a>
            </div>
          </div>

          <div class="adBox-earning">
            <div class="adBox-container">
              <h3>Sie wissen von einem Verkauf?</h3>
              <p>
                Sie kennen jemanden, der/die eine Immobilie verkaufen möchte?
                Großartig! Bei erfolgreicher Vermittlung erhalten Sie einen Teil
                unserer Provision.
              </p>
              <a
                class="no-link standard-btn-reverse width-100"
                href="/kontakt"
                target="_blank"
              >
                Zum Kontaktformular
              </a>
            </div>
          </div>
        </div>

        <div class="double-divider-line no-print"></div>
        <div class="double-divider-line no-print"></div>

        <!-- /////////// MORE PROPERTY INFOS SECTION -->
        <div class="more-property-infos-wrapper page-break">
          <h3 class="">Weitere Angaben</h3>

          <div class="more-property-infos">
            <!-- ///////////// more infos for apartment -->
            <div class="more-infos-container" *ngIf="isApartment">
              <div
                class="detail-row"
                *ngIf="wohnungDetails?.apartmentType as type"
              >
                <p><strong>Wohnungstyp:</strong></p>
                <p>{{ apartmentTypeLabels[type] || "Keine Angabe" }}</p>
              </div>

              <div class="detail-row" *ngIf="wohnungDetails?.usableFloorSpace">
                <p><strong>Nutzfläche:</strong></p>
                <p>{{ wohnungDetails?.usableFloorSpace }} m²</p>
              </div>
              <div class="detail-row" *ngIf="wohnungDetails?.floor">
                <p><strong>Etage:</strong></p>
                <p>{{ wohnungDetails?.floor }}</p>
              </div>

              <div
                class="detail-row"
                *ngIf="!accessIsShort && wohnungDetails?.numberOfFloors"
              >
                <p><strong>Anzahl Etagen:</strong></p>
                <p>{{ wohnungDetails?.numberOfFloors }}</p>
              </div>

              <div class="detail-row" *ngIf="wohnungDetails?.numberOfBedRooms">
                <p><strong>Schlafzimmer:</strong></p>
                <p>{{ wohnungDetails?.numberOfBedRooms }}</p>
              </div>
              <div class="detail-row" *ngIf="wohnungDetails?.numberOfBathRooms">
                <p><strong>Badezimmer:</strong></p>
                <p>{{ wohnungDetails?.numberOfBathRooms }}</p>
              </div>
              <div class="detail-row" *ngIf="wohnungDetails?.cellar as type">
                <p><strong>Keller:</strong></p>
                <p>{{ Yes_No_Labels[type] || "Keine Angabe" }}</p>
              </div>
              <div class="detail-row">
                <p><strong>Balkon/Terrasse:</strong></p>
                <p>
                  {{
                    wohnungDetails?.balcony === true
                      ? True_False_Labels["true"]
                      : wohnungDetails?.balcony === false
                      ? True_False_Labels["false"]
                      : "Keine Angabe"
                  }}
                </p>
              </div>
              <div class="detail-row">
                <p><strong>Personenaufzug:</strong></p>
                <p>
                  {{
                    wohnungDetails?.lift === true
                      ? True_False_Labels["true"]
                      : wohnungDetails?.lift === false
                      ? True_False_Labels["false"]
                      : "Keine Angabe"
                  }}
                </p>
              </div>
              <div
                class="detail-row"
                *ngIf="wohnungDetails?.interiorQuality as type"
              >
                <p><strong>Qualität der Ausstattung:</strong></p>
                <p>
                  {{ interiorQualityLabels[type] || "Keine Angabe" }}
                </p>
              </div>

              <!-- NUR WENN FREIGESCHALTET -->
              <div class="detail-row" *ngIf="!accessIsShort && wohnungDetails">
                <p><strong>Letzte Modernisierung/Sanierung:</strong></p>
                <p>
                  {{
                    wohnungDetails.lastRefurbishment != null &&
                    wohnungDetails.lastRefurbishment !== ""
                      ? wohnungDetails.lastRefurbishment
                      : "Keine Angabe"
                  }}
                </p>
              </div>

              <div
                class="detail-row"
                *ngIf="!accessIsShort && wohnungDetails?.heatingType as type"
              >
                <p><strong>Heizungsart:</strong></p>
                <p>{{ heatingTypeLabels[type] || "Keine Angabe" }}</p>
              </div>

              <div
                class="detail-row"
                *ngIf="!accessIsShort && wohnungDetails?.firingType as type"
              >
                <p><strong>Wesentliche Energieträger:</strong></p>
                <p>{{ firingTypeLabels[type] || "Keine Angabe" }}</p>
              </div>

              <div
                class="detail-row"
                *ngIf="
                  !accessIsShort && !wohnungDetails?.constructionYearUnknown
                "
              >
                <p><strong>Baujahr:</strong></p>
                <p>{{ wohnungDetails?.constructionYear }}</p>
              </div>

              <div
                class="detail-row"
                *ngIf="
                  !accessIsShort && wohnungDetails?.constructionYearUnknown
                "
              >
                <p><strong>Baujahr:</strong></p>
                <p>Baujahr unbekannt</p>
              </div>

              <div
                class="detail-row"
                *ngIf="
                  !accessIsShort &&
                  wohnungDetails?.handicappedAccessible as type
                "
              >
                <p><strong>Stufenloser Zugang:</strong></p>
                <p>{{ Yes_No_Labels[type] || "Keine Angabe" }}</p>
              </div>

              <div class="detail-row" *ngIf="!accessIsShort">
                <p><strong>Hausgeld:</strong></p>
                <p>
                  {{
                    wohnungDetails?.serviceCharge != null &&
                    wohnungDetails?.serviceCharge !== 0
                      ? wohnungDetails?.serviceCharge
                      : "Keine Angabe"
                  }}
                  €
                </p>
              </div>

              <div
                class="detail-row"
                *ngIf="!accessIsShort && wohnungDetails?.maintenanceReserve"
              >
                <p><strong>Instandhaltungsrücklage:</strong></p>
                <p>
                  {{ wohnungDetails?.maintenanceReserve }}
                </p>
              </div>

              <div
                class="detail-row"
                *ngIf="
                  wohnungDetails?.rented !== null &&
                  wohnungDetails?.rented !== undefined
                "
              >
                <p><strong>Vermietet:</strong></p>
                <p>{{ wohnungDetails?.rented ? "Ja" : "Nein" }}</p>
              </div>

              <div
                class="detail-row"
                *ngIf="
                  !accessIsShort &&
                  wohnungDetails?.rented &&
                  wohnungDetails?.rentalIncome != 0
                "
              >
                <p><strong>Einnahmen (Kalt):</strong></p>

                <p>{{ wohnungDetails?.rentalIncome }} €</p>
              </div>

              <div class="detail-row" *ngIf="!accessIsShort">
                <p><strong>Frei ab:</strong></p>
                <p>{{ wohnungDetails?.freeFrom }}</p>
              </div>
            </div>
            <!-- ///////////// end of more infos for apartment -->

            <!-- ///////////// more infos for house -->
            <div class="more-infos-container" *ngIf="isHouse">
              <div class="detail-row" *ngIf="haus?.buildingType as type">
                <p><strong>Haustyp:</strong></p>
                <p>{{ getLabel(buildingTypeLabels, type) }}</p>
              </div>
              <div class="detail-row" *ngIf="haus?.plotArea">
                <p><strong>Grundstücksfläche:</strong></p>
                <p>{{ haus.plotArea }} m²</p>
              </div>
              <div class="detail-row" *ngIf="haus?.usableFloorSpace">
                <p><strong>Nutzfläche:</strong></p>
                <p>{{ haus.usableFloorSpace }} m²</p>
              </div>

              <div
                class="detail-row"
                *ngIf="!accessIsShort && haus?.numberOfFloors"
              >
                <p><strong>Anzahl Etagen:</strong></p>
                <p>{{ haus.numberOfFloors }}</p>
              </div>

              <div class="detail-row" *ngIf="haus?.numberOfBedRooms">
                <p><strong>Schlafzimmer:</strong></p>
                <p>{{ haus.numberOfBedRooms }}</p>
              </div>
              <div class="detail-row" *ngIf="haus?.numberOfBathRooms">
                <p><strong>Badezimmer:</strong></p>
                <p>{{ haus.numberOfBathRooms }}</p>
              </div>
              <div class="detail-row" *ngIf="haus?.guestToilet as type">
                <p><strong>Gäste-WC:</strong></p>
                <p>{{ Yes_No_Labels[type] || "Keine Angabe" }}</p>
              </div>
              <div class="detail-row" *ngIf="haus?.cellar as type">
                <p><strong>Keller:</strong></p>
                <p>{{ Yes_No_Labels[type] || "Keine Angabe" }}</p>
              </div>
              <div class="detail-row" *ngIf="haus?.condition as type">
                <p><strong>Zustand:</strong></p>
                <p>{{ conditionLabels[type] || "Keine Angabe" }}</p>
              </div>
              <div class="detail-row" *ngIf="haus?.constructionPhase as type">
                <p><strong>Bauphase:</strong></p>
                <p>
                  {{ constructionPhaseLabels[type] || "Keine Angabe" }}
                </p>
              </div>

              <!-- Mit Freischaltung sichtbar -->
              <div
                class="detail-row"
                *ngIf="!accessIsShort && haus?.constructionYear"
              >
                <p><strong>Baujahr:</strong></p>
                <p>{{ haus.constructionYear }}</p>
              </div>

              <!-- ///////////// -->

              <div class="detail-row" *ngIf="haus?.interiorQuality as type">
                <p><strong>Qualität der Ausstattung:</strong></p>
                <p>
                  {{ interiorQualityLabels[type] || "Keine Angabe" }}
                </p>
              </div>

              <!-- Mit Freischaltung sichtbar -->
              <div
                class="detail-row"
                *ngIf="!accessIsShort && haus?.lastRefurbishment as type"
              >
                <p>
                  <strong>Letzte Modernisierung/ Sanierung:</strong>
                </p>
                <p>{{ haus.lastRefurbishment }}</p>
              </div>

              <div
                class="detail-row"
                *ngIf="!accessIsShort && haus?.heatingType as type"
              >
                <p><strong>Heizungsart:</strong></p>
                <p>{{ heatingTypeLabels[type] || "Keine Angabe" }}</p>
              </div>

              <div
                class="detail-row"
                *ngIf="!accessIsShort && haus?.firingType as type"
              >
                <p><strong>Wesentliche Energieträger:</strong></p>
                <p>
                  {{
                    haus?.heatingType === "DISTRICT_HEATING"
                      ? "Fernwärme"
                      : firingTypeLabels[type] || "Keine Angabe"
                  }}
                </p>
              </div>

              <!-- ///////////// -->
              <div class="detail-row" *ngIf="haus?.parkingSpaceType as type">
                <p><strong>Garage/Stellplatz:</strong></p>
                <p>
                  {{ parkingSpaceTypeLabels[type] || "Keine Angabe" }}
                </p>
              </div>
              <div class="detail-row" *ngIf="haus?.numberOfParkingSpaces">
                <p><strong>Anzahl Garagen/Stellplätze:</strong></p>
                <p>{{ haus.numberOfParkingSpaces }}</p>
              </div>
            </div>
            <!-- ///////////// end of more infos for house -->

            <!-- /////////// video of property  -->
            <div class="property-video-section" *ngIf="!accessIsShort">
              <div *ngIf="videoMedia.length > 0">
                <div *ngFor="let video of videoMedia" class="video-box">
                  <video
                    [src]="video.url"
                    [muted]="true"
                    autoplay
                    loop
                    playsinline
                    controls
                    controlsList="nodownload"
                    preload="metadata"
                    (contextmenu)="disableContextMenu($event)"
                  >
                    > Dein Browser unterstützt kein HTML5-Video.
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /////////// END OF MORE PROPERTY INFOS SECTION -->

        <!-- /////////// ALTERNATIVE TITLE IMAGE SECTION -->
        <div class="alt-title-img-section" *ngIf="altTitleImage">
          <!-- image -->
          <img
            class="alt-title-img"
            [src]="altTitleImage.url"
            alt="Alternatives Titelbild"
            (contextmenu)="disableContextMenu($event)"
          />

          <!-- short discription -->
          <div class="short-discription-box">
            <div class="short-textarea" *ngIf="immobilie.introNote">
              <div [innerHTML]="immobilie.introNote | nl2br"></div>
            </div>
          </div>
        </div>

        <!-- /////////// WRAPPER PROPERTY DESCRIPTIONS AND SIDEBAR -->
        <div
          class="property-discriptions-and-sidebar-wrapper page-break"
          *ngIf="!accessIsShort"
        >
          <!-- /////////// PROPERTY DESCRIPTIONS-->
          <div class="property-discriptions-wrapper">
            <div class="property-discriptions-container">
              <!-- description for arpartment -->
              <div class="notes-wrapper" *ngIf="!accessIsShort && isApartment">
                <div class="note-textarea" *ngIf="wohnung.descriptionNote">
                  <p><strong>Objektbeschreibung:</strong></p>
                  <div [innerHTML]="wohnung.descriptionNote | nl2br"></div>
                </div>

                <div class="note-textarea" *ngIf="wohnung.furnishingNote">
                  <p><strong>Ausstattung:</strong></p>
                  <div [innerHTML]="wohnung.furnishingNote | nl2br"></div>
                </div>

                <div class="note-textarea" *ngIf="wohnung.locationNote">
                  <p><strong>Lage:</strong></p>
                  <div [innerHTML]="wohnung.locationNote | nl2br"></div>
                </div>

                <div class="note-textarea" *ngIf="wohnung.otherNote">
                  <p><strong>Sonstiges:</strong></p>
                  <div [innerHTML]="wohnung.otherNote | nl2br"></div>
                </div>
              </div>

              <!-- description for house -->
              <div class="notes-wrapper" *ngIf="!accessIsShort && isHouse">
                <div class="note-textarea" *ngIf="haus.descriptionNote">
                  <p><strong>Objektbeschreibung:</strong></p>
                  <div [innerHTML]="haus.descriptionNote | nl2br"></div>
                </div>
                <div class="note-textarea" *ngIf="haus.furnishingNote">
                  <p><strong>Ausstattung:</strong></p>
                  <div [innerHTML]="haus.furnishingNote | nl2br"></div>
                </div>
                <div class="note-textarea" *ngIf="haus.locationNote">
                  <p><strong>Lage:</strong></p>
                  <div [innerHTML]="haus.locationNote | nl2br"></div>
                </div>

                <div class="note-textarea" *ngIf="haus.otherNote">
                  <p><strong>Sonstiges:</strong></p>
                  <div [innerHTML]="haus.otherNote | nl2br"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- /////////// SIDEBAR CONTENT WRAPPER-->
          <div class="sidebar-content-wrapper">
            <!-- energyrating diagramm for apartment -->
            <div
              class="energiewert-wrapper"
              *ngIf="
                !accessIsShort &&
                isApartment &&
                wohnung &&
                wohnung.thermalCharacteristic
              "
            >
              <div class="detail-row">
                <p><strong>Energiewert:</strong></p>
              </div>
              <div class="spacer-m"></div>
              <div
                class="detail-row energy-rating-type"
                *ngIf="wohnung?.buildingEnergyRatingType as type"
              >
                <p><strong>Ausweis-Typ:</strong></p>
                <p>
                  {{ buildingEnergyRatingTypeLabels[type] || "Keine Angabe" }}
                </p>
              </div>
              <app-energieklasse-diagramm
                [energyValue]="wohnung.thermalCharacteristic"
                [ausweistyp]="wohnung.buildingEnergyRatingType"
              ></app-energieklasse-diagramm>
            </div>

            <!-- energyrating diagramm for house -->
            <div
              class="energiewert-wrapper"
              *ngIf="
                !accessIsShort && isHouse && haus && haus.thermalCharacteristic
              "
            >
              <div class="detail-row">
                <p><strong>Energiewert:</strong></p>
              </div>
              <div class="spacer-m"></div>
              <div
                class="detail-row"
                *ngIf="haus?.buildingEnergyRatingType as type"
              >
                <p><strong>Ausweis-Typ:</strong></p>
                <p>
                  {{ buildingEnergyRatingTypeLabels[type] || "Keine Angabe" }}
                </p>
              </div>
              <app-energieklasse-diagramm
                [energyValue]="haus.thermalCharacteristic"
                [ausweistyp]="haus.buildingEnergyRatingType"
              ></app-energieklasse-diagramm>
            </div>

            <!-- financing example -->
            <div class="financing-example" *ngIf="!accessIsShort">
              <h3>Finanzierungsvorschlag</h3>
              <p>
                <strong>Berechnung der groben Kreditkosten:*</strong>
              </p>

              <div class="condition-box">
                <div class="line-row">
                  <p class="label">Sollzins / Effektiver Jahreszins:</p>
                  <p class="wert">
                    {{ immobilie.debitInterest | number : "1.2-2" : "de" }}
                    % /
                    {{
                      immobilie.effectiveInterestRate | number : "1.2-2" : "de"
                    }}
                    %
                  </p>
                </div>
                <div class="line-row">
                  <p class="label">Zinsbindung:</p>
                  <p class="wert">{{ immobilie.fixedInterestRates }} Jahre</p>
                </div>
              </div>

              <div class="costs-overview-wrapper">
                <div class="costs-overview-box">
                  <p><strong>Voraussichtliche Kosten:</strong></p>

                  <div class="line-row">
                    <p>Kaufpreis:</p>
                    <p>{{ kaufpreis | number : "1.0-0" : "de" }} €</p>
                  </div>

                  <div class="line-row">
                    <p>Grunderwerbsteuer ({{ immobilie.transferTax }} %):</p>
                    <p>
                      {{ grunderwerbsteuer | number : "1.0-0" : "de" }}
                      €
                    </p>
                  </div>

                  <div class="line-row">
                    <p>Notargebühr ({{ immobilie.notaryFee }} %):</p>
                    <p>{{ notargebuehr | number : "1.0-0" : "de" }} €</p>
                  </div>

                  <div class="line-row">
                    <p>Maklergebühr ({{ immobilie.courtageNumber }} %):</p>
                    <p>{{ maklergebuehr | number : "1.0-0" : "de" }} €</p>
                  </div>
                  <div class="line-row">
                    <p><strong>Gesamtkosten: </strong></p>
                    <p>
                      <strong
                        >{{ gesamtkosten | number : "1.0-0" : "de" }} €
                      </strong>
                    </p>
                  </div>
                </div>
                <div class="costs-overview-box">
                  <p><strong>Ihr eingesetztes Kapital</strong></p>

                  <div class="line-row">
                    <p>Bank- und Sparguthaben:</p>
                    <p>
                      {{ immobilie.capitalEmployed | number : "1.0-0" : "de" }}
                      €
                    </p>
                  </div>
                </div>
              </div>

              <div class="credit-box">
                <div class="line-row">
                  <p><strong>Ihr benötigtes Darlehen: </strong></p>
                  <p>
                    <strong>
                      {{ benoetigtesDarlehen | number : "1.0-0" : "de" }}
                      €
                    </strong>
                  </p>
                </div>

                <div class="line-row">
                  <p><strong>Ihre monatliche Zinsrate: </strong></p>
                  <p>
                    <strong>
                      {{ monatlicheZinsen | number : "1.0-0" : "de" }}
                      €
                    </strong>
                  </p>
                </div>

                <div class="line-row">
                  <p><strong>Ihr monatliche Tilgungsrate: </strong></p>
                  <p>
                    <strong>
                      {{ monatlicheTilgung | number : "1.0-0" : "de" }}
                      €
                    </strong>
                  </p>
                </div>

                <div class="line-row">
                  <p>
                    <strong>Ihre monatliche Gesamtbelastung: </strong>
                  </p>
                  <p>
                    <strong>
                      {{ gesamtBelastung | number : "1.0-0" : "de" }}
                      €
                    </strong>
                  </p>
                </div>
              </div>

              <div class="financing-example-note">
                <p>
                  Ggf. ist eine Finanzierung auch ohne Eigenkpaital möglich.
                </p>
                <p>
                  *Die Informationen wurden bereitgestellt von FSK
                  BAUFINANZIERUNG - unserem Partner für Finanzierungsfragen.
                </p>
                <!-- <div class="fincanel-expert-contact">
                  <p>Ansprechpartner:</p>
                  <p>
                    Herr Andreas Böck
                    <a class="no-link" href="tel:+4915120077474">
                      <span>(0151 200 774 74)</span>
                    </a>
                  </p>
                  <p>
                    oder per Mail an:
                    <a
                      class="no-link"
                      href="mailto:info@fsk-baufinanzierung.de"
                    >
                      <span>info&#64;fsk-baufinanzierung.de</span>
                    </a>
                  </p>
                </div> -->
              </div>
            </div>

            <!-- img viewing -->
            <div class="image-viewing-box">
              <img
                class="advertise_img"
                src="/img/services/BT_Foto.jpg"
                alt=""
                (contextmenu)="disableContextMenu($event)"
              />
            </div>

            <!-- ad feedback -->
            <div class="adBox-feedback" *ngIf="!accessIsExtended">
              <h3>Wir freuen uns über Ihr Feedback!</h3>
              <p>
                Mit Ihrer Bewertung helfen Sie anderen, einen Eindruck von
                unserer Arbeit zu gewinnen – besonders denen, die uns noch nicht
                kennen.
              </p>
              <p>
                Bewerten Sie uns hierzu einfach auf ImmoScout24. Den Link
                erhalten Sie in den kommenden Tagen von ImmoScout per E-Mail
                zugesendet.
              </p>
            </div>

            <!-- ad feedback for money -->
            <div class="adBox-feedback" *ngIf="accessIsExtended">
              <h3>Ein Danke für Ihre Zeit!</h3>
              <p>
                Sie haben uns und unsere Arbeit bereits kennengelernt. Wir
                hoffen, dass Sie mit unserem Service zufrieden sind und würden
                uns sehr über Ihr Feedback freuen! Mit Ihrer Bewertung
                unterstützen Sie nicht nur uns, sondern auch andere
                Interessenten, die sich ein Bild von unserer Arbeit machen
                möchten. Als kleines Dankeschön für Ihre Zeit erhalten Sie einen
                10 € Shopping-Gutschein.
              </p>
              <p>
                Bewerten Sie uns hierzu einfach auf Google:
                <a
                  href="https://g.page/r/CeZdl-Z9XP8YEAE/review"
                  target="_blank"
                  >Link zum Formular</a
                >
              </p>
            </div>
          </div>
        </div>

        <!-- /////////// PROPERTY FLOOR PLANS -->
        <div class="floor-plans-section no-print" *ngIf="!accessIsShort">
          <div
            class="floor-plans-slider"
            *ngIf="!accessIsShort && mediaFloorPlans?.length"
          >
            <div class="floorplan-viewer">
              <button
                class="nav-button left"
                (click)="prevFloorPlan()"
                [disabled]="activeFloorIndex === 0"
              >
                <span>‹</span>
              </button>

              <img
                [src]="mediaFloorPlans[activeFloorIndex].url"
                [alt]="
                  mediaFloorPlans[activeFloorIndex].description || 'Grundriss'
                "
                (contextmenu)="disableContextMenu($event)"
              />

              <button
                class="nav-button right"
                (click)="nextFloorPlan()"
                [disabled]="activeFloorIndex === mediaFloorPlans.length - 1"
              >
                <span>›</span>
              </button>
            </div>

            <div class="floorplan-counter">
              <p>{{ activeFloorIndex + 1 }} / {{ mediaFloorPlans.length }}</p>
            </div>
          </div>

          <div class="sidebar-floor-plans-selection" *ngIf="!accessIsShort">
            <div
              class="floorplan-thumb"
              *ngFor="let plan of mediaFloorPlans; let i = index"
              (click)="activeFloorIndex = i"
              [class.active]="i === activeFloorIndex"
            >
              <img
                [src]="plan.url"
                [alt]="plan.description || 'Grundriss'"
                (contextmenu)="disableContextMenu($event)"
              />
            </div>
          </div>
        </div>

        <!-- Grundrisse floor plans print-mode-->
        <div
          class="floor-plans-print print-only page-break"
          *ngIf="!accessIsShort && mediaFloorPlans?.length"
        >
          <div class="floorplan-print-wrapper">
            <img
              *ngFor="let img of mediaFloorPlans"
              [src]="img.url"
              [alt]="img.description || 'Grundriss'"
              (contextmenu)="disableContextMenu($event)"
            />
          </div>
        </div>

        <!-- /////////// PROPERTY PHOTO GALLERY -->
        <div
          class="images-gallery page-break no-break-inside"
          *ngIf="!accessIsShort"
        >
          <h3>Weitere Fotos</h3>
          <div class="masonry-gallery">
            <div class="masonry-item" *ngFor="let img of media">
              <img
                class="thumbnail"
                [src]="img.url"
                [alt]="img.description || 'Bild'"
                (click)="openImageDialog(img.url)"
                (contextmenu)="disableContextMenu($event)"
              />
            </div>
          </div>
        </div>

        <!-- /////////// PROPERTY INTEREST TEXT -->
        <div class="interest-text-section page-break">
          <h3>Interesse geweckt?</h3>
          <p *ngIf="accessIsShort">
            Gerne stehen wir Ihnen jederzeit zur Verfügung und helfen Ihnen, wo
            wir nur können, um Ihnen die angebotene Immobilie so transparent und
            umfassend wie möglich zu präsentieren. Bei bestehendem Interesse
            können wir Ihnen gerne weitere Inhalte wie weitere Fotos und weitere
            Informationen freischalten.
          </p>

          <p *ngIf="accessIsNormal">
            Gerne stehen wir Ihnen jederzeit zur Verfügung und helfen Ihnen, wo
            wir nur können, um Ihnen die angebotene Immobilie so transparent und
            umfassend wie möglich zu präsentieren. Bei bestehendem Interesse
            können wir gerne einen Besichtigungstermin vereinbaren. Rufen Sie
            uns hierzu einfach an. Weitere Unterlagen wie Abrechnungen,
            Kosten-/Einnahmenübersichten, Grundbuchauszug etc. erhalten Sie im
            Anschluss.
          </p>

          <p *ngIf="accessIsExtended">
            Gerne stehen wir Ihnen jederzeit zur Verfügung und helfen Ihnen, wo
            wir nur können, um Ihnen die angebotene Immobilie so transparent und
            umfassend wie möglich zu präsentieren. Sollten Sie noch weitere
            Unterlagen oder eine Zweitbesichtigung wünschen, sprechen Sie uns
            einfach an.
          </p>
        </div>

        <!-- /////////// PROPERTY DISCLAIMER TEXT -->
        <div class="disclaimer-text-section">
          <h3>Hinweis:</h3>
          <p>
            Wir übernehmen keine Haftung für die Richtigkeit der Angaben in
            diesem Exposé. Für die Prüfung der Informationen sind sowohl Sie als
            Interessent(in) als auch der/die Eigentümer(in) verantwortlich.
            Bitte beachten Sie unbedingt die Originalunterlagen zur Immobilie,
            die Sie bereits erhalten haben oder noch von uns erhalten werden.
          </p>
          <p>
            Die oben genannten Angaben sind vertraulich und dementsprechend
            vertraulich zu behandeln. Eine Weitergabe an Dritte ist nur mit
            unserer ausdrücklichen schriftlichen Genehmigung zulässig. Es gelten
            die besonderen Bedingungen gemäß unseren rechtlichen Hinweisen in
            den AGB unter www.hilgert-immobilien.de/impressum.
          </p>
        </div>

        <!-- /////////// PROPERTY LAST UPDATE SECTION -->
        <div class="last-update-section">
          <p>
            Zuletzt aktualisiert:
            {{ immobilie.lastModificationDate | date : "dd.MM.yyyy" }}
          </p>
        </div>

        <div class="double-divider-line no-print"></div>
        <div class="double-divider-line no-print"></div>

        <!-- /////////// PROPERTY CONTACT PERSON SECTION -->
        <div class="contact-person-section page-break no-break-inside">
          <div class="contact-person-container">
            <h3>Ihr Ansprechpartner</h3>

            <div class="contact-wrapper">
              <div class="person-wrapper">
                <div>
                  <img
                    src="/img/Samuel-Hilgert.jpg"
                    alt="Samuel Hilgert"
                    (contextmenu)="disableContextMenu($event)"
                  />
                </div>

                <div class="content-col">
                  <p><strong>Hilgert Immobilien</strong></p>
                  <p class="contact-slogan">
                    <strong
                      >Spezialisiert auf den Immobilienverkauf – seit
                      1993</strong
                    >
                  </p>
                  <div class="spacer-m"></div>

                  <p><strong>Samuel Hilgert</strong></p>
                  <p>Immobilienberater & Vermittler</p>
                  <div class="spacer-m"></div>

                  <a href="tel:+4962049803080">
                    <mat-icon>phone</mat-icon>
                    <span>+49 (0) 6204 980 30 80</span>
                  </a>
                  <a href="tel:+017644476237">
                    <mat-icon>phone_android</mat-icon>
                    <span>+49 (0) 176 444 76 237</span>
                  </a>
                  <a href="mailto:info@hilgert-immobilien.de">
                    <mat-icon>email</mat-icon>
                    <span>info&#64;hilgert-immobilien.de</span>
                  </a>
                  <a href="www.hilgert-immobilien.de" target="_blank">
                    <mat-icon>laptop</mat-icon>
                    <span>wwww.hilgert-immobilien.de</span>
                  </a>
                </div>
              </div>

              <div class="contact-person-container-bottom">
                <div class="contactform-link">
                  <a
                    class="standard-btn-reverse"
                    href="/kontakt"
                    target="_blank"
                    >Zum Kontaktformular</a
                  >
                </div>

                <div class="v-card-box">
                  <p>vCard:</p>
                  <img
                    src="/img/e-card.png"
                    alt="vCard-Immobilienmakler-Samuel-Hilgert"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          *ngIf="showScrollToTop"
          mat-fab
          class="scroll-to-top"
          color="primary"
          (click)="scrollToTop()"
          aria-label="Nach oben scrollen"
        >
          <mat-icon>arrow_upward</mat-icon>
        </button>

        <!-- end print content  -->
      </div>
      <!-- end print content  -->
    </ng-container>

    <ng-template #loading>
      <p>Lade Exposé...</p>
    </ng-template>
  </div>
</section>

<!-- Beispiel für Erweitert -> AccesLevel Normal
http://localhost:4200/expose-preview/B74nu1DvwRHJRYMtjJmZ_42865 

http://localhost:4200/expose-preview/3yBjjisV8NonN5y2sdNt_23523 -->
