@use "./../../styles.scss" as s;
@use "./../../assets/fonts.scss" as f;
@use "./../../assets/colors.scss" as c;

section {
  padding: 80px 64px;
  margin-top: 140px;
  background-color: c.$bg-color;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.immobilien-grid {
  @include s.f_r_fs_fs;
  gap: 18px;
  padding-top: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Immobilienkarte */
mat-card {
    position: relative;
    width: 600px;
    height: 700px;
    flex: 0 0 auto;
    max-width: 600px;
    height: auto;
    margin-top: 40px;
    flex: 1 1 auto;
    cursor:pointer;
    margin-top:40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
  
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    /* Der Ribbon für die Referenzen */
    .ribbon {
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        height: 150px;
        overflow: hidden;
        pointer-events: none;
      
        span {
          position: absolute;
          top: 130px;
          right: -82px;
          width: 300px;
          background-color: c.$referenzen-ribbon-bg;
          color: c.$referenzen-ribbon-text;
          text-align: center;
          font-size: 0.85rem;
          font-weight: bold;
          transform: rotate(45deg);
          transform-origin: top right;
          padding: 8px 0;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          letter-spacing: 1px;
        }
      }
        

  mat-card-header {
    @include s.f_c_fs_c;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-sizing: border-box;
      object-position: center 60%;
    }
  }

  // dieser Container mit dem Hiwneistext legt sich übers Bild wenn die Immobilie angeklickt wird, aber diese bereits verkauft wurde
  .verkauft-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 396px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    @include s.f_c_c_c;
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
  }  

  .image-placeholder {
    @include s.f_c_c_c;
    width: 100%;
    height: 240px;
    background-color: #f4f4f4;
  }

  mat-card-content {
    @include s.f_c_fs_sb;
    width: 100%;
    height:auto;
    padding: 24px 18px;
    box-sizing: border-box;
    flex-grow: 1;

    .ort {
      @include s.f_r_fe_c;
      width: 100%;
    }

    mat-card-title {
      @include s.f_c_fs_fs;
      padding-top:20px;
      width: 100%;
      height:130px;
      font-size: 1.3rem;
      font-weight: lighter;
    }

    .objekt-id {
      font-size: 1rem;
      font-weight: lighter;
    }
  }

  mat-card-footer {
    @include s.f_r_sb_c;
    width: 100%;
    padding: 12px 4px;
    padding-right: 12px;
    background-color: c.$card-bg-alt;
    box-sizing: border-box;

    .typ-icon,
    .wfl-icon,
    .zimmer-icon,
    .preis-icon {
      @include s.f_r_fs_c;
      width: auto;

      svg {
        width: 40px;
        height: 40px;
        fill: none;
        stroke: c.$angebot-card-icon;
        stroke-width: 2.5;

        path,
        rect {
          stroke: c.$angebot-card-icon;
          stroke-width: 1.5;
          stroke-linecap: square;
        }
      }

      .icon-text {
        font-size: 12px;
      }
    }
  }
}

.hinweis-weitere-immobilien {
  @include s.f_r_c_c;
  margin-top:54px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;

  .page-range {
    font-weight: bold;
  }
}

// > 1440px = große Desktops
// 1200–1439px = Standard-Desktops
// 992–1199px = Tablets quer
// 768–991px = Tablets hoch / kleine Laptops
// 576–767px = große Smartphones
// < 576px = kleine Smartphones

// Breakpoints

@media (max-width: 1439px) {
  mat-card {
    max-width: 500px;
  }
}

@media (max-width: 1199px) {
  mat-card {
    max-width: 450px;
  }
}

@media (max-width: 991px) {
  .immobilien-grid {
    justify-content: center;
  }

  mat-card {
    max-width: 100%;
    margin-inline: auto;
  }
}

@media (max-width: 767px) {
  section {
    padding: 0px 16px;
  }

  mat-card {
    max-width: 100%;
    height: auto;
  }

  mat-card-header {
    height: 300px;
  }

  mat-card-content mat-card-title {
    font-size: 1.1rem;
  }
}

@media (max-width: 575px) {
  section {
    padding: 0 8px;
  }

  mat-card {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

  mat-card-header {
    height: auto;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  mat-card-footer svg {
    width: 32px;
    height: 32px;
  }

  .icon-text {
    font-size: 11px;
  }
}


// @media (max-width: 575px) {
//   section {
//     padding: 0px 4px;
//   }

//   mat-card {
//     padding: 0 12px;
//   }

//   mat-card-header {
//     height: 240px;
//   }

//   mat-card-footer svg {
//     width: 32px;
//     height: 32px;
//   }

//   .icon-text {
//     font-size: 11px;
//   }
// }