<section class="section-bg-v1">
  <div class="about-us-content">
    <h2>Samuel Hilgert</h2>
    <p>
      Ich bin in das Maklergeschäft hineingeboren und habe das Maklern von klein
      auf gelernt. Wie wohl die meisten Menschen habe aber auch ich nicht nur
      einen einschlägigen Karriereweg vorzuweisen. Erweiterte Kenntnisse bringe
      ich u.a. durch meinen Bachelor-Studiengang zum Sozialpädagogen sowie meine
      Ausbildung zum Software Entwickler mit. Sowohl die technischen wie auch die
      sozialen Fähigkeiten sind eine nützliche Ergänzung zu den Kernkompetenzen
      als Makler und machen meinen Service noch vielseitiger. Als Makler stehe ich
      Ihnen mit Rat und Tat zur Seite, um Sie umfassend bei Ihrem
      Immobilienverkauf vom Erstgespräch bis zur Übergabe und darüber hinaus
      kompetent und umfassend zu unterstützen.
    </p>

    <h2>Erhard Hilgert</h2>
    <p>
      Ich habe das Geschäft 1993 gegründet und von Anfang an großen Wert auf
      eine umfassende Kundenbetreuung gelegt. Meine Kunden sollen nicht nur das
      Gefühl haben, einen schnellen Maklerabschluss zu erhalten, sondern auch in
      allen anderen Fragen rund ums Haus Unterstützung finden – sei es bei
      handwerklichen oder verwaltungstechnischen Anliegen. Als gelernter Maurer
      und leidenschaftlicher Handwerker konnte ich bereits zahlreiche Probleme
      für meine Kunden lösen. Zusätzlich ist es mir als studierter Theologe und
      aktiver Pastor ein besonderes Anliegen, dass meine Kunden sich jederzeit
      in guten Händen wissen. Mittlerweile hat sich meine Rolle im
      Familienbetrieb und damit der Schwerpunkt meiner Arbeit von der
      Vermittlung hin zur Beratung und Betreuung meiner Kunden verlagert.
    </p>
  </div>
</section>
