<section class="section-bg-v1">
    <div class="about-us-content">
        <p>
            Wir sind ein familiengeführter Maklerbetrieb, der seit 1993 zu den
            erfahrensten Maklern in Viernheim zählt. Mit einer Vielzahl erfolgreicher
            Abschlüsse in der Rhein-Neckar-Region verfügen wir über eine umfassende
            Expertise im Immobilienbereich.
          </p>
          <div class="vertical-line"></div>
          <p>
            Gerne stehen wir auch Ihnen bei der Veräußerung Ihrer Immobilie oder der
            Suche nach dem perfekten Zuhause bestmöglich zur Seite und begleiten Sie mit
            fundiertem Fachwissen durch den gesamten Verkaufsprozess. Wir legen Wert auf
            eine enge persönliche Betreuung und entwickeln maßgeschneiderte Lösungen,
            die über das übliche Maß hinausgehen. Ihre Zufriedenheit hat für uns höchste
            Priorität.
          </p>
    </div>
    <div class="action-btn-row">
      <app-action-anfragen></app-action-anfragen>
    </div>

</section>
