@use "./../../../styles.scss" as styles;
@use "./../../../assets/fonts.scss" as f;
@use "./../../../assets/colors.scss" as c;

section {
    height:500px;
    width:100%;
    box-sizing: border-box;
}