<section class="section-bg-v2" id="bewertungen">
    <h2 alt="Immobilienverkauf, top bewertet - Hilgert Immobilien">Wir verkaufen Immobilien mit bester Kundenzufriedenheit</h2>

    <iframe height='160' width='190' src='//widget.immobilienscout24.de/anbieter/bewertung/b9d2cb0da1024f857e72a99a91c066ac' frameborder=0 style='overflow:hidden;' marginheight='0' marginwidth='0' scroll='no'></iframe>
                                        

    <h2 alt="Diese Firmen unterstützen uns - Hilgert Immobilien">Mit diesen Partnern arbeiten wir eng zusammen:</h2>
    <div class="partner-container">
        <p>Sprengnetter</p>
        <p>ImmobilienScout</p>
        <p>Hessen regional</p>
        <p>FSK Lambsheim</p>
        <p>Zeichner Bauunternehmen</p>
        <p>Volker Friederich</p>
        <p>Carl Aug. Roth GmbH</p>
    </div>

</section>
