@use "./../../styles.scss" as styles;
@use "./../../assets/fonts.scss" as f;
@use "./../../assets/colors.scss" as c;

section {
    height:100vh;
    width:100%;
    box-sizing: border-box;
    @include styles.dFlex(
        $d: flex,
        $fd: column,
        $jc: center,
        $ai: center,
        $g: 0px);
        text-align:center;
}