<div class="navbar-container">
  <!-- Burger Button (sichtbar nur bei kleiner Viewport-Breite) -->
  <button class="burger-btn" (click)="menuOpen = !menuOpen">
    <span></span>
    <span></span>
    <span></span>
  </button>  

  <!-- Navigation -->
  <ul [class.open]="menuOpen">
    <li><a class="navbar-link" routerLink="immobilien" (click)="closeMenu()">Immobilien</a></li>
    <li><a class="navbar-link" routerLink="leistungen" (click)="closeMenu()">Leistungen</a></li>
    <li><a class="navbar-link" routerLink="referenzen" (click)="closeMenu()">Referenzen</a></li>
    <li><a class="navbar-link" routerLink="kontakt" (click)="closeMenu()">Kontakt</a></li>
  </ul>
  
</div>
