<div class="">
  <ul>
    <li><a class="navbar-link" href="#angebote" alt="Immobilienangebote - Hilgert Immobilien">Immobilien</a></li>
    <li><a class="navbar-link" href="#leistungen" alt="Immobilienverkauf - Hilgert Immobilien">Leistungen</a></li>
    <li><a class="navbar-link" href="#bewertungen" alt="Beste Bewertungen - Hilgert Immobilien">Referenzen</a></li>
    <li><a class="navbar-link" href="#kontakt" alt="Immobilienberatung, Verkaufsberatung, kostenfrei - Hilgert Immobilien">Kontakt</a></li>
  </ul>
</div>
