<div class="">
  <ul>
    <li><a class="navbar-link" routerLink="immobilien" alt="Immobilienangebote - Hilgert Immobilien">Immobilien</a></li>
    <li><a class="navbar-link" routerLink="leistungen" alt="Immobilienverkauf - Hilgert Immobilien">Leistungen</a></li>
    <li><a class="navbar-link" routerLink="referenzen" alt="Beste Bewertungen und Referenzen - Hilgert Immobilien">Referenzen</a></li>
    <li><a class="navbar-link" routerLink="kontakt" alt="Immobilienberatung, Verkaufsberatung, kostenfrei - Hilgert Immobilien">Kontakt</a></li>
  </ul>
</div>
