<div class="image-dialog">
  
<div  class="image-dialog-container">
  <img [src]="currentImage.url" alt="Bildansicht"  (contextmenu)="disableRightClick($event)" (contextmenu)="disableContextMenu($event)"/>

  <div class="noselect" style="margin: 10px; font-style: italic;" *ngIf="currentImage.description">
    {{ currentImage.description }}
  </div>

  <div class="panel-btns-div">
    <button mat-button (click)="previousImage()" [disabled]="currentIndex === 0">← Zurück</button>
    <button mat-button (click)="nextImage()" [disabled]="currentIndex === mediaList.length - 1">Weiter →</button>
  </div>
</div>


</div>