<!-- Übersicht mit Tabelle nur bei /dashboard/immobilien -->
<section *ngIf="isMainView">
  <h2>Immobilien</h2>

  <div class="section-immobilie-anlegen">
    <a routerLink="immobilie-anlegen">Neue Immobilie anlegen</a>
  </div>

  <div class="section-immobilien-datenbank" *ngIf="isMainView">
    <app-immobilien-datenbank *ngIf="isMainView"></app-immobilien-datenbank>
  </div>
</section>

<!-- Detail oder Anlegen etc. -->
<main class="content" *ngIf="!isMainView">
  <router-outlet></router-outlet>
</main>
