<section>
  <h2 alt="Diese Firmen unterstützen uns - Hilgert Immobilien">
    Unsere Partner:
  </h2>
  <div class="partner-container">
    <!--
    <p>Zeichner Bauunternehmen</p>
    <p>Volker Friederich</p> -->
    <!-- <img src="/img/partner/tci.png" alt=""> -->
    <img src="/img/partner/Sprengnetter.jpeg" alt="">
    <img src="/img/partner/immoscout.png" alt="">
    <img src="/img/partner/hessen-regional.png" alt="" />
    <img src="/img/partner/fsk-logo.jpeg" alt="" />
    <img src="/img/partner/ca-roth-dach-logo.jpg" alt="" />
  </div>
</section>
