@use "./../../../styles.scss" as s;
@use "./../../../assets/fonts.scss" as f;
@use "./../../../assets/colors.scss" as c;


section {
    @include s.f_c_fs_fs;
    gap:12px;
    height: auto;
    min-height: 500px;
    width: 100%;
    box-sizing: border-box;
    padding: 80px 64px;
    margin-top:140px; // weil hero ausgeblendet wird
    background-color: c.$bg-color;
}

form {
    @include s.f_c_fs_fs;
    gap:12px;
    padding:24px;
    width:100%;
    box-sizing: border-box;

    mat-form-field  {
        width:50%;
        box-sizing: border-box;

        &:nth-child(3){
            height:300px;
        }
    }


    .quelle-checkboxes {
        @include s.f_c_fs_fs;
        gap:12px;
    }

    button {
        margin-top:24px;
    }
      
}

.sterne-bewertung {
    @include s.f_r_fs_fs;
    height:auto;
    gap: 4px;
    cursor: pointer;
  
    mat-icon {
        height:auto;
        width:auto;
      font-size: 32px;
      transition: color 0.2s;
      color: #ccc;
  
      &.filled {
        color: #fbc02d; // goldgelb
      }
    }
  }