@use "./../../../../styles.scss" as s;
@use "./../../../../assets/fonts.scss" as f;
@use "./../../../../assets/colors.scss" as c;

.logo-title-wrapper {
    @include s.f_r_c_c;
    gap: 24px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    background-color: c.$logo-bg-color;
    padding: 12px 0;

    img {
      width: auto;
      height: clamp(4rem, 4vw, 5rem);
      border-radius: 0;
      cursor: pointer;
  
      // Logo ausblenden auf kleinen Geräten
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  
  .title-slogan-wrapper {
    @include s.f_c_c_fs;
    gap: 4px;
    cursor: pointer;
    text-align: center;
  
    h1 {
      font-size: clamp(1.2rem, 2.5vw, 2rem);
      margin: 0;
    }
  
    .slogan {
      font-size: clamp(0.9rem, 1.5vw, 1.2rem);
      color: c.$primary-text;
    }
  }
  
  // Optional: Bei ganz kleinen Geräten Logo & Titel stacken
  @media (max-width: 576px) {
    .logo-title-wrapper {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 16px 0;
      gap: 8px;
    }
  
    .title-slogan-wrapper {
      align-items: center;
    }
  }
  