@use "./../../styles.scss" as s;
@use "./../../assets/fonts.scss" as f;
@use "./../../assets/colors.scss" as c;

.dashboard {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  max-height: auto;
}

.dashboard.sidebar-closed .dashboard-page {
  width: 100%;
  box-sizing: border-box;
}

.sidebar.closed .sidebar-close-btn {
  padding: 300px 2px;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 250px;
  box-sizing: border-box;
  background: c.$dashboard-sidebar-bg;
  color: c.$dashboard-sidebar-text;
  padding: 0 20px;
  transition: width 0.3s ease;

  &.closed {
    top: 9%;
    width: 10px;
    padding: 0 10px;
    background-color: c.$dashboard-page-bg;
    overflow: hidden;

    nav .title {
      display: none;
    }

    ul li a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .sidebar-close-btn {
    position: absolute;
    @include s.f_c_fs_c;
    right:0;
    height:100%;
    box-sizing: border-box;
    background-color: c.$primary-color;
    color: white;
    padding: 300px 6px;
    cursor: pointer;
    z-index: 2;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  nav .title {
    padding: 12px;
    margin-bottom: 24px;
  }

  nav ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 15px;

      a {
        text-decoration: none;
        color: c.$dashboard-sidebar-text;
        display: block;
        padding: 10px;

        &:hover {
          color: c.$dashboard-sidebar-text-hover;
        }
      }
    }
  }


}

.dashboard-page {
  @include s.f_c_fs_fs;
  width: calc(100% - 250px);
  box-sizing: border-box;
  margin: 0;
  padding: 32px;
  background-color: c.$dashboard-page-bg;

  app-header-dashboard,
  router-outlet {
    width: 100%;
    box-sizing: border-box;
  }
}