<section class="dashboard" [class.sidebar-closed]="!sidebarOpen">
  <aside class="sidebar" [class.closed]="!sidebarOpen">
    <nav>
      <p class="title"><strong>Dashboard</strong></p>
      <ul>
        <li>
          <a routerLink="immobilien"> 📂 Immobilien</a>
        </li>
        <li>
          <a routerLink="suchauftraege"> 🔎 Suchaufträge</a>
        </li>
        <li>
          <a routerLink="kundendatenbank"> 👥 Kundendatenbank</a>
        </li>
        <li>
          <a routerLink="bewertungen"> 🚀 Bewertungen</a>
        </li>
        <li>
          <a routerLink="newsletter"> 📰 Newsletter</a>
        </li>
        <li>
          <a routerLink="partner"> 🤝 Partner</a>
        </li>
        <li>
          <a routerLink="social-media"> 📱 Social Media</a>
        </li>
        <li>
          <a routerLink="werbung"> 📢 Werbung</a>
        </li>
        <li>
          <a routerLink="umsatz"> 💰 Umsatz</a>
        </li>
        <li>
          <a routerLink="support-tickets"> 🎫 Tickets</a>
        </li>
        <li>
          <a routerLink="ablage"> 💾 Ablage öffnen</a>
        </li>
        <li>
          <a routerLink="#"> 🏠 Zur Startseite</a>
        </li>
      </ul>
    </nav>
    <div class="sidebar-close-btn" (click)="toggleSidebar()">
      <span>{{ sidebarOpen ? '<<' : '>>' }}</span>
    </div>
  </aside>

  <div class="dashboard-page">
    <app-header-dashboard></app-header-dashboard>
    <router-outlet></router-outlet>
  </div>
</section>
