@use "./../../styles.scss" as s;
@use "./../../assets/fonts.scss" as f;
@use "./../../assets/colors.scss" as c;

// Farben & Variablen

.start-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap:24px;
  margin:0;
  width:100%;
  box-sizing: border-box;
}

// Dashboard Layout
.dashboard {
  display: flex;
  min-height:100vh;
  max-height: auto;
}

// Sidebar Styling
.sidebar {
  width: 250px;
  background: c.$primary-color;
  color: c.$primary-text;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  
  nav ul {
    list-style: none;
    padding: 0;
    
    li {
      margin-bottom: 15px;
      
      a {
        text-decoration: none;
        color: c.$primary-text;
        font-size: 16px;
        display: block;
        padding: 10px;
        border-radius: 5px;
        transition: background 0.3s ease;

        &:hover {
          background: 1abc9c;
          color: #fff;
        }
      }
    }
  }
}

// Inhaltsbereich
.content {
  display:flex;
  flex-direction: column;
  flex: 1;
  padding: 40px;
  background: #ecf0f1;
  gap:20px;
  
  h1 {
    color: c.$primary-color;
  }
  
  p {
    color: c.$primary-color;
    font-size: 18px;
  }
}
