// default settings // 
$bg-color: white;
$primary-color: rgb(42, 53, 70);
$secondary-color: grey;
$contrast-color: rgb(201, 162, 39);
$text-color: rgb(74, 74, 74);
$scrollbar-primary-color: $contrast-color;
$section-bg-v1: rgb(201, 162, 39, 0.05);

// vertical line
$vertical-line-bg: $contrast-color;

// standard button
$standard-btn-bg: $contrast-color;
$standard-btn-bg-hover: $primary-color;
$standard-btn-text: white;

// logo 
$logo-bg-color: white;

// navbar 
$navbar-bg-color: $primary-color;
$navbar-links-text-color: white;
$navbar-links-hover-color: white;
$navbar-links-border-hover: $contrast-color;

// hero 
$hero-bg-color: white;

//header-info-box  
$header-info-box-bg-color: $primary-color;
$header-info-box-text-color: white;