@use "./../assets/colors.scss" as c;

@font-face {
    font-family: 'Nunito';
    src: url('./../../public/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Fira Code';
    src: url('./../../public/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Karla';
    src: url('./../../public/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Cormorant_Garamond_regular';
    src: url('./../../public/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('./../../public/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('./../../public/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}


html,
body {
    color: c.$primary-text;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 200;
    line-height: 22px;
    letter-spacing: 0px;
}

.navbar-link {
    // color:c.$navbar-links-text-color;
    color: c.$primary-text;
    font-weight: 200;
    line-height: 22px;
    letter-spacing: 1px;
    font-size: 1rem;
    list-style: none;
    cursor: unset;
    text-decoration: unset;
}

h1 {
    color: c.$h1-headline;
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(1.5rem, 4vw, 2rem);
    font-weight: lighter;
    line-height: 2rem;
    letter-spacing: 0.5rem;
    transform: scaleY(1.2);
    text-transform: uppercase;
}

h2 {
    color: c.$h2-headline;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 2rem;
    letter-spacing: 0.25rem;
    transform: scaleY(1.2);
    text-transform: uppercase;
}

h3 {
    color: c.$h3-headline;
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.75rem;
    letter-spacing: 0.25rem;
    transform: scaleY(1.2);
    text-transform: uppercase;
}

h4 {
    color: c.$h3-headline;
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.25rem;
    letter-spacing: 0.125rem;
    transform: scaleY(1.2);
    text-transform: unset;
}

.slogan {
    text-transform: uppercase;
}

.disclaimer-note-red {
    font-style: italic;
}

.headline {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.07rem;
    transform: scaleY(1.2);
}

.sidebar-click-text {
    font-weight: 400;
    line-height: 1rem;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    transform: scaleY(1.1);
    text-transform: uppercase;
}

.standard-btn {
    font-weight: 400;
    line-height: 1rem;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    transform: scaleY(1.1);
    text-transform: uppercase;
}

.about-us-content {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.1rem;
    transform: scaleY(1.1);
}