@use "./assets/fonts.scss" as f;
@use "./assets/colors.scss" as c;

* {
  margin: 0;
  scroll-behavior: smooth;
  scrollbar-width:thin;
  scrollbar-color: c.$scrollbar-primary-color c.$scrollbar-primary-color;
}

::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: c.$scrollbar-primary-color;
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background-color: #00000000;
  border: 1px solid #00000000;
}

html, body {
    background-color: c.$bg-color;
    transition: background-color 0.3s ease-in-out; // for a smooth color change, needs also for btns, cards and header
    overflow: auto; // no scrolling more than 100vh
    height: 100vh; 
}

:root {
  --primary-color: #{c.$primary-color};
}

.dark-mode {
  --primary-color: black;
}

.filter-bg {
  background-color: c.$header-info-box-bg-color;
  color: c.$header-info-box-text-color;
  opacity:0.9;
}

.section-bg-v1 {
  background-color: c.$section-bg-v1;
  padding:64px 48px;
} 

.section-bg-v2 {
  background-color: white;
  padding:64px 48px;
}

.standard-btn {
  background-color: c.$standard-btn-bg;
  color: c.$standard-btn-text;
  padding: 12px 18px;
  border-radius:0px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: c.$standard-btn-bg-hover;
  }
}

@mixin dFlex($d: flex, $fd: row, $jc: center, $ai: center, $g: 0px) {
    display: $d;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
  }

.vertical-line {
  height:3rem;
  width:3px;
  background-color: c.$vertical-line-bg;
  opacity:0.9;
}

.sidebar-click-element {
  background-color: c.$standard-btn-bg;
  color: c.$standard-btn-text;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: c.$standard-btn-bg-hover;
  }
}