// kontakt.component.scss
@use "./../../../styles.scss" as s;
@use "./../../../assets/fonts.scss" as f;
@use "./../../../assets/colors.scss" as c;

.contact-layout {
  display: flex;
  width: 100%;
  max-width:1400px;
  margin: 0 auto;
  gap: 40px;
  
  @media (max-width: 992px) {
    flex-direction: column;
    width: 90%;
  }
}

.contact-info-container {
  flex: 1;
  width:100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 30px;
//   background-color: rgba(c.$contrast-color, 0.03);
//   border: 1px solid rgba(c.$primary-color, 0.2);
  border-radius: 4px;
  height: fit-content;

  @media (max-width: 992px) {
    width: 100%;
  }
}

.contact-headline {
  display: flex;
  flex-direction: column;
  gap: 10px;

  > h3 {
    color: c.$primary-text;
    margin: 0;
  }

  > h3:nth-child(2) {
    color: c.$primary-color;
  }
}

p {
  color: c.$primary-text;
  line-height: 1.6;
  margin: 0;
}

.contact-informations {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width:100%;
  box-sizing: border-box;

  .main-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .contact-item {
      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
        color: c.$primary-text;
        transition: color 0.3s ease;
        width:fit-content;

        &:hover {
          color: c.$primary-color;
        }

        mat-icon {
          color: c.$primary-color;
          font-size: 24px;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.e-card-wrapper {
 @include s.f_c_fs_fs;
 gap:12px;
 margin:0;
 padding:0;

 .e-card {
  height:200px;
  width:auto;
  margin-left:-8px;
  padding:0;
}
}

.contact-form-container {
  flex: 1.5;
  padding-right: 28px;
  
  @media (max-width: 992px) {
    width: 100%;
    box-sizing: border-box;
  }
  
  mat-card {
    padding: 12px;
    background-color: rgba(c.$contrast-color, 0.03);
    border: 1px solid rgba(c.$primary-color, 0.2);
    box-shadow: none;
    height: 100%;
    box-sizing: border-box;
  }

  mat-card-header {
    margin-bottom: 20px;

    mat-card-title {
      font-weight: 200;

      h4 {
        margin: 0;
        color: c.$primary-color;
      }
    }

    mat-card-subtitle {
      font-weight: 200;
      padding-top: 10px;
      color: c.$primary-text;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .name-row,
  .contact-row {
    display: flex;
    gap: 16px;
    
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 0;
    }

    mat-form-field {
      flex: 1;
    }
  }

  .full-width {
    width: 100%;
  }

  .button-row {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }

  textarea {
    resize: vertical;
    min-height: 120px;
  }

  .accept-terms-div {
    padding:16px 0;
    width:100%;
    box-sizing: border-box;
  }
}
