<section>
  
    <div class="footer-nav">
      <div>
        <ul>
          <li><a class="navbar-link" routerLink="" alt="Wir sind für Sie da! - Hilgert Immobilien">Startseite</a></li>
          <li><a class="navbar-link" routerLink="leistungen" alt="Immobilienverkauf - Hilgert Immobilien">Leistungen</a></li>
          <li><a class="navbar-link" routerLink="immobilien" alt="Immobilienangebote - Hilgert Immobilien">Immobilien</a></li>
          <li><a class="navbar-link" routerLink="referenzen" alt="Beste Bewertungen und Referenzen - Hilgert Immobilien">Referenzen</a></li>
          <li><a class="navbar-link" href="kontakt" alt="Immobilienberatung, Verkaufsberatung, kostenfrei - Hilgert Immobilien">Kontakt</a></li>
          <li><a class="navbar-link" routerLink="impressum" alt="Qualifizierte Makler - Hilgert Immobilien">Impressum</a></li>
        </ul>
      </div>
    </div>   

     <!--    <ul>
          <li><a class="navbar-link" routerLink="immobilie-vorstellen" alt="Immobilie anbieten - Hilgert Immobilien">Immobilie vorstellen</a></li>
          <li><a class="navbar-link" routerLink="bewerten" alt="top bewertet - Hilgert Immobilien">Mich bewerten</a></li>
          <li><a class="navbar-link" routerLink="tippgeber" alt="Tipp geben, Geld verdienen - Hilgert Immobilien">Tippgeberprovision</a></li>
          <li><a class="navbar-link" routerLink="suchanfrage" alt="Wir finden die passende Immobilie - Hilgert Immobilien">Suchanfrage stellen</a></li>
          <li><a class="navbar-link" routerLink="partner-werden" alt="Kooperiere mit uns - Hilgert Immobilien">Partner werden</a></li>
          <li><a class="navbar-link" routerLink="magazin" alt="Neuigkeiten Immobilienverkauf - Hilgert Immobilien">Unser Magazin</a></li>
        </ul> -->
     
      
      <!-- <div class="social-media-wrapper">
        <div class="instagram-box">
          <img src="" alt="Immobilienmakler Instagram - Hilgert Immobilien"/>
           <p>Instagram</p>
        </div>
        <div class="facebook-box">
          <img src="" alt="Immobilienmakler Facebook - Hilgert Immobilien"/>
           <p>Facebook</p>
        </div>
        <div class="linked-in-box">
          <img src="" alt="Immobilienmakler LinkedIn - Hilgert Immobilien"/>
           <p>LinkedIn</p>
        </div>
        <div class="xing-box">
          <img src="" alt="Immobilienmakler Xing - Hilgert Immobilien"/>
           <p>Xing</p>
        </div>
      </div> -->

  <div class="footer-logo-title-wrapper">
    <!-- <img
      src="/img/logo_warm_gold.jpeg"
      alt="Logo - Hilgert Immobilien"
      routerLink=""
    /> -->

    <div class="title-slogan-wrapper" routerLink="">
      <span
        class="footer-title"
        alt="Hilgert Immobilien - Ihr Makler in der Metropolregion Rhein Neckar"
        >Hilgert Immobilien</span
      >
      <span
        class="footer-slogan"
        alt="Verkauf von Immobilien - Hilgert Immobilien"
        >Spezialisiert auf den Verkauf von Immobilien seit 1993</span
      >
      <span
      class="footer-creation-date"
      alt="Webseite - Hilgert Immobilien"
      >Erstellt im April 2025</span
    >
    </div>
  </div>
</section>
